html{
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


body{
	font-family: Courier new;
	font-size: 16px;
	font-weight: bold;
	background-color: #191919;
	color: #00AA00;
}

/*###################################################################################################################################*/
/*###########################################################  MAIN_TEXT  ###########################################################*/
/*###################################################################################################################################*/

#mainTextBox{
	position:absolute;
	overflow: auto;
	background-color: #191919;
	top:2%;
	height:60%;
	left:1%;
	width:60%;
	border:2px solid #00AA00;
	z-index: 1;
}

#mainTextBox div{
	position: absolute;
	left: 1%;
	width:98%;
	top: 2%;
}

/*###################################################################################################################################*/
/*###########################################################  OPTIONS  #############################################################*/
/*###################################################################################################################################*/

#optionBox{
	position: absolute;
	overflow: hidden;
	background-color: #191919 ;
	top:64%;
	height:34%;
	left:1%;
	width:60%;
	border:2px solid #00AA00;
	z-index: 2;
}

#optionBox.extended{
	position: absolute;
	width:98%;
}

#optionTable{
	position: absolute;
	table-layout: fixed;
	left: 1%;
	width:96%;
	top: 2%;
}

#optionTable.extended{
	position: absolute;
	left: 0.6%;
	width: 96.8%;
}

#optionTable tr{
	display: block;
}

#optionTable tr td{
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
	display: block;
}

#selectedOption{
	background-color: #00AA00;
	color: #191919;
}

#optionUpperArrow{
	position: absolute;
	right: 0%;
	text-align: center;
	width: 3%;
	padding: 0px;
	margin: 0px;
	top: 0;
	font-size: 30px;
	display: none;
}

#optionLowerArrow{
		position: absolute;
	right: 0%;
	text-align: center;
	width: 3%;
	padding: 0px;
	margin: 0px;
	bottom: 0px;
	font-size: 30px;
	display: none;
}

/*###################################################################################################################################*/
/*###########################################################  INVENTORY  ###########################################################*/
/*###################################################################################################################################*/

#inventoryBox{
	position: absolute;
	overflow: hidden;
	background-color: #191919 ;
	top:2%;
	height:60%;
	left:62%;
	width:37%;
	border:2px solid #00AA00;
	z-index: 1;
}

#inventoryTable{
	position: absolute;
	table-layout: fixed;
	left: 1%;
	width:98%;
	top: 2%;
}

#inventoryTable tr{
	display: block;
}

#inventoryTable tr td{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

#selectedInventory{
	background-color: #00AA00;
	color: #191919;
}

/*###################################################################################################################################*/
/*###########################################################  CHARACTER  ###########################################################*/
/*###################################################################################################################################*/

#characterBox{
	position: absolute;
	overflow: hidden;
	top:64%;
	height:34%;
	left:62%;
	width:37%;
	border:2px solid #00AA00;
	z-index: 1;
}

#characterTable{
	position: absolute;
	top:2%;
	left:1%;
	width: 98%;
	z-index: 1;
	border-spacing: 0px 1px;
}

#characterTable tr{
}

#characterTable tr td:nth-child(even){
	position: absolute;
	left: 50%;
	white-space: nowrap;
}

#selectedCharacterItem{
	background-color: #00AA00;
	color: #191919;
}

/*###################################################################################################################################*/
/*###########################################################  FOREGROUND  ##########################################################*/
/*###################################################################################################################################*/

#foregroundBox{
	position: absolute;
  width: 100%;
  height: 100%;
	margin: -10px;
	z-index: 3;
	color: white;

}

#foregroundText{
	position: relative;
  margin: auto;
	top: 40%;
	z-index: 4;
	text-align: center;
	color: rgba(0,0,0,0);
	font-size: 6vw;
	font-family: Impact;
}