/*
	background		#292929
	content 		#00BB00
*/

html{
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body{
	font-family: Courier new;
	font-size: 16px;
	font-weight: bold;
	background-color: #151515;
	color: #00BB00;
}

.mainTextBox{
	position:absolute;
	overflow: auto;
	top:2%;
	height:60%;
	left:1%;
	width:60%;
	border:2px solid #00BB00;
}

.mainTextContent{
	position: absolute;
	left: 1%;
	width:91%;
	top: 2%;
}

.optionBox{
	position: absolute;
	overflow: hidden;
	top:64%;
	height:34%;
	left:1%;
	width:60%;
	border:2px solid #00BB00;
}

.optionBox.extended{
	position: absolute;
	width:98%;

}

.optionTable{
	position: absolute;
	left: 1%;
	width:98%;
	top: 2%;
}

.optionTable.extended{
	position: absolute;
	left: 0.6%;
	width: 98.8%;
}

.option{
}

#selectedOption{
	background-color: #00BB00;
	color: #151515;
}